[submodule "3rdL/spdlog"]
	path = 3rdL/spdlog
	url = https://github.com/gabime/spdlog
[submodule "3rdL/glm"]
	path = 3rdL/glm
	url = https://github.com/g-truc/glm
[submodule "3rdL/tinygltf"]
	path = 3rdL/tinygltf
	url = https://github.com/syoyo/tinygltf
[submodule "3rdL/cereal"]
	path = 3rdL/cereal
	url = https://github.com/USCiLab/cereal
[submodule "3rdL/vma"]
	path = 3rdL/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "3rdL/entt"]
	path = 3rdL/entt
	url = https://github.com/skypjack/entt
[submodule "3rdL/yamlcpp"]
	path = 3rdL/yamlcpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "3rdL/ImGuiZmo"]
	path = 3rdL/ImGuiZmo
	url = https://github.com/CedricGuillemet/ImGuizmo
