[submodule "3rdL/spdlog"]
	path = 3rdL/spdlog
	url = https://github.com/gabime/spdlog
[submodule "3rdL/glm"]
	path = 3rdL/glm
	url = https://github.com/g-truc/glm
[submodule "3rdL/tinygltf"]
	path = 3rdL/tinygltf
	url = https://github.com/syoyo/tinygltf
[submodule "3rdL/cereal"]
	path = 3rdL/cereal
	url = https://github.com/USCiLab/cereal
